body {
   background-color: black ;
}


select {
background-color: #222;
color: aquamarine;
width: 120px;
height: 60px;
border-radius: 10px;
display: flex;

}

table {
  background-color: #222; 
  color: white;           
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}
.P {
  background-color: green;
}
.T {
  background-color: orange;
}
.A {
  background-color: red;
}
.AP {
  background-color: blue;
}
.RA {
  background-color: rgb(76, 165, 95);
}